<div class='sixteen columns'>
  <div class='eight columns omega aside-container'>
    <h4><%= @post['title'] %> by <%= @user['username'] %></h4>
    <%= @post['content'] %>
    <br>

     <% if session['user_id'] == @user['id'] %>
         <div>
          <form action='/posts/<%= @post['id'] %>' method='post'><br>
            <input type='hidden' name='_method' value='delete'>
            <button type='submit'>Delete Post</button>
          </form>
        </div>
        <div>
          <form action='/posts/<%= @post['id'] %>/edit' method='post'>
            <textarea name='edit'><%= @post['content'] %></textarea>
            <button type='submit'>Edit Post</button>
          </form>
        </div>
     <% end %>
  </div>
  
  
  <div class='eight columns omega aside-container'>
    <h4>Comments section</h4>
    <form action="/posts/<%= @post['id'] %>/comments" method='post'>
      <input type='text' placeholder='New comment' name='content'>
      <input type='hidden' name='user_id' value='<%= @current_user['id'] %>'>
      <input type='submit' value='Submit'>
    </form>
  

    <% @comments.each do |comment| %>
    <div>
      <p class='comment'><%= comment['user'] %>: <%= comment['content'] %>
        <% if session['user_id'] == @user['id'] || session['user_id'] == comment['user_id']  %>
        <form action='/comments/<%= @post['id'] %>/<%= comment['id'] %>' method="post">
        <input type="hidden" name="_method" value="delete" >
        <button class='delete' type='submit'>Delete Comment</button>
      </form>
      <% end %>
    </p>
    <% end %>
  </div>

  </div>

</div><!-- end sixteen columnns -->


